/* CustomProgressBar.css */

/* Change the loader color */
.rpb-progress {
  background-color: #a3238d; /* Replace with your desired color */
}

/* Change the position of the loader */
.rpb-percent-container {
  position: absolute;
  top: 50%; /* Adjust the top value as needed */
  left: 50%; /* Adjust the left value as needed */
  transform: translate(-50%, -50%);
}
